*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.nav{
    display: flex;
    gap: 10px;
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.home{
    width: 38px;
    position: absolute;
    left: 4px;
}
.homecircle{
    margin: 20px;
    margin-left: 90px;
    margin-right: 0px;
    width: 50px;
    height: 45px;
    background-color: rgb(52, 50, 50);
    border-radius: 50%;
    border: 2px solid rgb(45, 41, 41);
    position: relative;
}
.homecircle:hover{
    filter: invert();
}
.logo{
    width: 40px;
    margin: 20px;
}
#inputsearch{
    margin: 20px;
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    color: grey;
    background-color: black;
    border: 1px solid gray;
}
.lists{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lists>li>a{
    margin: 20px;
    font-size: larger;
    text-decoration: none;
    color: rgb(156, 154, 154);
}
.divide{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    width: 3px;
    height: 25px;
    position: relative;
    top: 7px ;
}
.install{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.install>a{
    text-decoration: none;
    color: rgb(156, 154, 154);
}
.signup{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signup>a{
    margin-left: 50px;
    text-decoration: none;
    color: rgb(255, 254, 254);
}
.signup>a:hover{
    color: rgb(165, 163, 163);
}
.btn{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    background-color: white;
}
.buttn{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contain{
    display: flex;
    position: relative;
} 
.left{
    margin: 10px 5px;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    width: 23%;
    height: 88vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 10;
}
.section{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.pluscirlce{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(70, 71, 71);
    position: relative;
}
.plus{
    width: 20px;
    height: 50px;
    filter: invert();
    position:absolute;
    top: -8px;
    left: 5px;
}
.createplylist{
    height: 150px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(72, 71, 71);
    border-radius: 20px;
    
}
.createplylist>h3,p{
    margin: 10px;
}
.buttnn{
    margin: 10px;
    padding: 9px;
    border-radius: 40px;
}
.createpodcst{
    height: 170px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(72, 71, 71);
    border-radius: 20px;
}
.footersectin{
    font-size: small;
    margin: 10px;
    padding: 10px;
}
.footersectin>a{
    margin: 10px;
    text-decoration: none;
    color: rgb(155, 155, 155);
}

.right{
    width: 75%;
    height: 100vh;
    margin: 10px 5px;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    padding: 10px;
    position:relative;
    top: 70px;
    left: 370px;
    overflow-y: scroll;
}

.songsectin{
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    height: 350px;
    /* width: 100vw; */
    /* overflow-wrap: anywhere; */
}
.headingsec{
    display: flex;
    justify-content: space-between;
}
.headingsec>a{
    text-decoration: none;
    color: rgb(154, 151, 151);
}
.card{
    display: flex;
}
.cardsongsec{
    background-color: rgb(35, 36, 36);
    border-radius: 20px;
    height: 250px;
    width: 230px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songimg{
    height: 170px;
    /* width: 150px; */
}